<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://pbs.twimg.com/profile_images/2237800241/yesbookme_style_4_400x400.jpg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngIf="!authService.checkIfLogged()"  >
              <a class="dropdown-item" routerLink="/user/register">Register</a>
              <a class="dropdown-item" routerLink="/user/login">Login</a>
          </div>

          <div *ngIf="authService.checkIfLogged()">
            <a class="dropdown-item" routerLink="/user/bookings">Your bookings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
          </div>     
      </li>
      <li *ngIf="authService.isAdmin()" class="nav-item">
        <a class="nav-link" routerLink="/admin/hotel/create">Create Hotel</a>
      </li>
    </ul>
  </div>
</nav>